style(type="text/css") !{compiledStyle}

.container
  section.profile
    if profile.tradingName
      div #{profile.tradingName}
    div #{profile.firstName} #{profile.lastName}
    div #{profile.address}
    div #{profile.zip} #{profile.city}, France

  section.client
    div
      div Devis à l'attention de :

      if client.tradingName
        div #{client.tradingName}
      else
        div #{client.firstName} #{client.lastName}
      div #{client.address}
      div #{client.zip} #{client.city}, #{client.country}

  section.info
    div Créé le #{document.createdAt}

  table.items
    thead.items-head
      tr
        th Désignation
        th Quantité
        th Prix unitaire
        th Montant

    tbody.items-body
      each item in document.items
        tr
          td.label #{item.designation}
          td #{item.quantity}
          td #{item.unitPrice}
          td #{item.amount}

    tfoot.items-foot
      tr
        td.label Total HT
        td(colspan=3) XX €

      tr
        td.label Total TVA (20%)
        td(colspan=3) XX €

      tr
        td.label Total TTC
        td(colspan=3) XX €
