mixin toEuro(amount)
  =Number(amount).toFixed(2) + ' €'

style(type="text/css") !{compiledStyle}

.container
  if document.type === 'quotation'
    h1 Devis
  else if document.type === 'invoice'
    h1 Facture n°#{document.number}
  else if document.type === 'credit'
    h1 Avoir n°#{document.number}
    em Facture de référence n°#{document.invoiceNumber}

  section.header
    .profile
      if profile.tradingName
        h2 #{profile.tradingName}
        div #{profile.firstName} #{profile.lastName}
      else
        h2 #{profile.firstName} #{profile.lastName}
      div #{profile.address}
      div #{profile.zip} #{profile.city}, France

      .infos
        div Créé le : #{document.createdAt}
        if document.expiresAt
          div Expire le : #{document.expiresAt}
        if document.startsAt
          div Début de la prestation : #{document.startsAt}
        if document.endsAt
          div Fin de la prestation : #{document.endsAt}
        if document.rate
          div
            | Taux
            |
            if document.rateUnit === 'hour'
              ='horaire'
            else if document.rateUnit === 'day'
              ='journalier'
            else if document.rateUnit === 'service'
              ='par prestation'
            |
            | :
            |
            +toEuro(document.rate)

    .client
      div
        if document.type === 'quotation'
          h3 Devis à l'attention de :
        else if document.type === 'invoice'
          h3 Facturé à :
        else if document.type === 'credit'
          h3 Avoir à l'attention de :

        if client.tradingName
          div #{client.tradingName}
        else
          div #{client.firstName} #{client.lastName}
        div #{client.address}
        div #{client.zip} #{client.city}, #{client.country}

  if document.conditions
    .conditions
      each condition in document.conditions.split('\n')
        div #{condition}

  table.items
    thead.items-head
      tr
        th Désignation
        th Quantité
        th Prix unitaire
        th Montant

    tbody.items-body
      each item in document.items
        tr
          td(width='40%') #{item.designation}
          td(width='10%') #{item.quantity}
          td(width='25%')
            +toEuro(item.unitPrice)
          td(width='25%')
            +toEuro(item.amount)

    tfoot.items-foot
      tr
        td(width='40%') Total HT
        td(colspan=3)
          +toEuro(document.totalHT)

      tr
        td(width='40%') Total TVA (#{document.taxRate}%)
        td(colspan=3)
          +toEuro(document.totalTVA)

      tr
        td(width='40%') Total TTC
        td(colspan=3)
          +toEuro(document.totalTTC)


  footer.footer
    .bank
      table
        tbody
          if profile.rib || profile.iban || profile.bic
            tr
              td(colspan=2) 
                strong Coordonnées bancaires
            
            if profile.rib
              tr
                td
                  strong RIB N°
                td #{profile.rib}

            if profile.iban
              tr
                td
                  strong IBAN N°
                td #{profile.iban}

            if profile.bic
              tr
                td
                  strong Code BIC
                td #{profile.bic}

    .contact
      div
        | Micro-entreprise :
        |
        if profile.tradingName
          span #{profile.tradingName} (#{profile.firstName} #{profile.lastName})
        else
          span #{profile.firstName} #{profile.lastName}
      div
        | #{profile.address},
        | #{profile.zip} #{profile.city},
        | France
      div
        | Email : #{profile.email}
        | —
        | Téléphone : #{profile.phone}
      div
        | SIRET : #{profile.siret}
        | —
        | Code APE : #{profile.apeCode}
      div
        | N° TVA Intracommunautaire : #{profile.taxId}
